/* Utility styles */

@import url('/css/utils/_variables.css');

/* Base styles */
@import url('/base/_reset.css');
@import url('/base/_typography.css');

/* Component styles */
@import url('/components/_branch.css');
@import url('/components/_card-buttons.css');
@import url('/components/_login.css');
@import url('/components/_product-card.css');
@import url('/components/_slider.css');
@import url('/components/_tabs.css');

/* Layout styles */
@import url('/layout/_footer.css');
@import url('/layout/_form.css');
@import url('/layout/_header.css');