/* Utility styles */

@import url('/css/utils/_variables.css');

/* Base styles */
@import url('/css/base/_reset.css');
@import url('/css/base/_typography.css');

/* Component styles */
@import url('/css/components/_branch.css');
@import url('/css/components/_card-buttons.css');
@import url('/css/components/_login.css');
@import url('/css/components/_product-card.css');
@import url('/css/components/_slider.css');
@import url('/css/components/_tabs.css');
@import url('/css/components/_inputs.css');
@import url('/css/components/_buttons.css');
@import url('/css/components/_slider.css');
@import url('/css/components/_dropdown.css');
@import url('/css/components/_modal.css');
/* Layout styles */
@import url('/css/layout/_footer.css');
@import url('/css/layout/_form.css');
@import url('/css/layout/_header.css');
@import url('/css/layout/_grid.css');

/* Page-specific styles */
@import url('/css/pages/_home.css');
/* Vendor styles */
@import url('/css/vendor/_swiper.css');
