.Logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.Logout-modal-overlay.hidden {
  visibility: hidden;
}

.Logout-modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 252px;
  width: 392px;
  background: var(--color-neutral-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.Logout-modal-box-header {
  border-radius: 8px;
  width: 100%;
  height: 66px;
  background: var(--color-neutral-gray-1);
  display: inline-flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.Logout-modal-box-header-placeHolder {
  flex: 1;
  width: 26px;
  height: 26px;
}
.Logout-modal-box-header-title {
  flex: 3;
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 600;
}

.Logout-modal-box-header-close {
  flex: 1;
  width: 26px;
  height: 26px;
}

.Logout-modal-box-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Logout-modal-box-body-text {
  margin-bottom: 32px;
  color: var(--color-neutral-gray-8);
  padding: 0px 10px;
}

.Logout-modal-box-body-btn-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Logout-modal-box-body-btn {
  width: 117px;
  height: 40px;
  border-radius: 4px;
}

.btn-cancel {
  color: var(--color-neutral-white);
  background: var(--color-primary);
}
.btn-exit {
  background: var(--color-status-error-extra-light);
  color: var(--color-status-error);
}

@media screen and (max-width: 48em) {
  .Logout-modal-box {
    width: 320px;
    height: 175px;
  }
  .Logout-modal-box-header {
    height: 57px;
  }
  .Logout-modal-box-header-title {
    font-size: 14px;
  }
  .Logout-modal-box-body-text {
    font-size: 12px;
  }
  .btn-cancel {
    font-size: 12px;
  }
  .btn-exit {
    font-size: 12px;
  }
}
