.footer {
  background: #222b1e url("/images/Footer.jpg") no-repeat center top / cover;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footer .container {
  padding: 32px 0 34px;
  display: flex;
  gap: 128px;
}

.footer__title {
  color: var(--color-neutral-white);
}

.footer__nav {
  margin-top: 16px;
  color: var(--color-neutral-gray-3);
  padding-inline-start: 12px;
}

@supports not (padding-inline-start: 12px) {
  html[dir="rtl"] .footer__nav {
    padding-right: 12px;
  }

  .footer__nav {
    padding-left: 12px;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__socials-list {
  display: flex;
  gap: 18px;
}

.footer__form {
  margin-top: 16px;
}

.footer__form-content {
  display: flex;
  gap: 26px;
  padding-inline-start: 12px;
}

@supports not (padding-inline-start: 12px) {
  html[dir="rtl"] .footer__form-content {
    padding-right: 12px;
  }

  .footer__form-content {
    padding-left: 12px;
  }
}

.footer__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__input {
  width: 276px;
  height: 40px;
  padding-inline-start: 16px;
}



.footer__textarea {
  width: 286px;
  height: 144px;
  padding: 16px;
  resize: none;
}

/* psudeo element selector */
.footer__input::placeholder,
.footer__textarea::placeholder {
  color: var(--color-neutral-gray-1);
}

.footer__submit {
  height: 40px;
  padding: 0 62px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-inline-start: auto;
  margin-top: 28px;
}

@supports not (margin-inline-start: auto) {
  html[dir="rtl"] .footer__submit {
    margin-right: auto;
  }

  .footer__submit {
    margin-left: auto;
  }
}
