.container {
  max-width: 1225px;
  margin: 0 auto;
}

/* xl */
@media screen and (max-width: 80em) {
  .container {
    max-width: 1000px;
  }
}

/* lg */
@media screen and (max-width: 64em) {
  .container {
    max-width: 750px;
  }
}