.site-header {
  width: 100%;
  height: 115px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 15%);
}

.site-header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__brand {
  width: 150px;
  height: 50px;
}

.site-header__nav-list {
  display: flex;
  gap: 24px;
  align-items: center;
  color: var(--color-neutral-gray-7);
}

.site-header__nav-item {
  border-bottom: 1px solid transparent;
}
.site-header__nav-item.site-header__nav-item--active {
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
}

.site-header__nav-link.site-header__nav-link--has-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}

.site-header__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.site-header__btn {
  background-color: var(--color-primary-tint-1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-4);
}


.site-header__icon{
  width: 24px;
  height: 24px;
  fill: var(--color-primary);
}