/* xxl */
.site-header {
  width: 100%;
  height: 115px;
  background-color: var(--color-neutral-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 15%);
}

.site-header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__brand {
  width: 150px;
  height: 50px;
}

.site-header__nav-list {
  display: flex;
  gap: var(--spacing-24);
  align-items: center;
  color: var(--color-neutral-gray-7);
}

.site-header__nav-item {
  border-bottom: 1px solid transparent;
  position: relative;
}

.site-header__nav-item.site-header__nav-item--active {
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
}

.site-header__nav-link.site-header__nav-link--has-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}

.site-header__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.site-header__btn {
  background-color: var(--color-primary-tint-1);
  width: var(--spacing-40);
  height: var(--spacing-40);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-4);
  position: relative;
}

.site-header__icon {
  width: var(--spacing-24);
  height: var(--spacing-24);
  fill: var(--color-primary);
}

.site-header__nav-item:nth-of-type(3) > .site-header__dropdown {
  left: unset;
  right: 0;
}

.site-header__nav-item:hover > .site-header__dropdown,
.site-header__btn:hover > .site-header__dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

#open-search:checked ~ .modal__backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
#open-search:checked ~ .modal__backdrop .modal {
  opacity: 1;
}

#close-search:checked ~ .modal__backdrop {
  transition-delay: 600ms !important;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#close-search:checked ~ .modal__backdrop .modal {
  opacity: 0;
  transition-delay: 0;
}

#open-search,
#close-search,
#open-menu,
#close-menu {
  display: none;
}

/* md */
@media screen and (max-width: 64em) {
  .site-header__menu {
    background-color: rgba(0, 0, 0, 60%);
    backdrop-filter: blur(6px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    z-index: 9999;
    transition: all 0.3s ease-in-out;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .site-header__nav {
    width: 76%;
    height: 100%;
    background-color: var(--color-neutral-white);
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in-out 300ms;
  }

  html[dir="rtl"] .site-header__menu {
    right: 0;
  }

  label.site-header__btn:nth-of-type(1) {
    display: none;
  }

  .site-header__mobile {
    background: url("/images/top-frame.jpg") no-repeat center/cover;
    height: 94px;
  }
  .site-header__mobile-brand {
    background-color: rgba(0, 0, 0, 65%);
    height: 100%;
    position: relative;
    padding: 32px 18px;
  }
  .site-header__mobile-logo {
    width: 68px;
    height: 30px;
  }
  .site-header__mobile-toggle {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .site-header__nav-list {
    margin-top: var(--spacing-8);
    display: block;
    padding: 0 var(--spacing-16);
    height: 100%;
    overflow-y: auto;
  }
  .site-header__nav-item {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 6px 0;
    border-color: var(--color-neutral-gray-4) !important;
  }

  .site-header__nav-item.site-header__nav-item--active {
    font-weight: normal;
  }
  .site-header__nav-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .site-header__dropdown {
    display: none;
  }

  #open-menu:checked ~ .site-header .site-header__menu {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  #open-menu:checked ~ .site-header .site-header__nav {
    right: 0;
  }

  #close-menu:checked ~ .site-header .site-header__nav {
    right: -100%;
    transition-delay: 0;
  }
  #close-menu:checked ~ .site-header .site-header__menu {
    transition-delay: 600ms;
  }
}
