.site-header {
  width: 100%;
  height: 115px;
  background-color: var(--color-neutral-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 15%);
}

.site-header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__brand {
  width: 150px;
  height: 50px;
}

.site-header__nav-list {
  display: flex;
  gap: var(--spacing-24);
  align-items: center;
  color: var(--color-neutral-gray-7);
}

.site-header__nav-item {
  border-bottom: 1px solid transparent;
  position: relative;
}

.site-header__nav-item.site-header__nav-item--active {
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
}

.site-header__nav-link.site-header__nav-link--has-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}

.site-header__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.site-header__btn {
  background-color: var(--color-primary-tint-1);
  width: var(--spacing-40);
  height: var(--spacing-40);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-4);
  position: relative;
}

.site-header__icon {
  width: var(--spacing-24);
  height: var(--spacing-24);
  fill: var(--color-primary);
}

.site-header__nav-item:nth-of-type(3) > .site-header__dropdown {
  left: unset;
  right: 0;
}

.site-header__nav-item:hover > .site-header__dropdown,
.site-header__btn:hover > .site-header__dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

#open-search:checked ~ .modal__backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
#open-search:checked ~ .modal__backdrop .modal {
  opacity: 1;
}

#close-search:checked ~ .modal__backdrop {
  transition-delay: 600ms !important;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#close-search:checked ~ .modal__backdrop .modal {
  opacity: 0;
  transition-delay: 0;
}

#open-search,
#close-search {
  display: none;
}
