:root {
	/* Spacing scale derived from Figma (increments of 8px) */
	--spacing-8: 8px;
	--spacing-16: 16px;
	--spacing-24: 24px;
	--spacing-32: 32px;
	--spacing-40: 40px;
	--spacing-48: 48px;
	--spacing-56: 56px;
	--spacing-64: 64px;
	--spacing-80: 80px;
	--spacing-120: 120px;
	--spacing-160: 160px;

	/* Corner radius scale derived from Figma */
	--radius-4: 4px;
	--radius-8: 8px;
	--radius-16: 16px;
	--radius-24: 24px;
	--radius-32: 32px;
	--radius-64: 64px;

   --font-family-base: "Estedad", "Segoe UI", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
	/* Primary palette */
	--color-primary: #417F56;
	--color-primary-tint-1: #E5F2E9;
	--color-primary-tint-2: #CAE4D3;
	--color-primary-tint-3: #B0D7BD;
	--color-primary-tint-4: #96C9A7;
	--color-primary-tint-5: #7CBC91;
	--color-primary-tint-6: #61AE7B;
	--color-primary-tint-7: #4E9968;
	--color-primary-shade-1: #396F4B;
	--color-primary-shade-2: #315F41;
	--color-primary-shade-3: #294F36;
	--color-primary-shade-4: #21402B;
	--color-primary-shade-5: #183020;
	--color-primary-shade-6: #102016;
	--color-primary-shade-7: #08100B;

	/* Neutral palette */
	--color-neutral-white: #FFFFFF;
	--color-neutral-gray-1: #F9F9F9;
	--color-neutral-gray-2: #E1E1E1;
	--color-neutral-gray-3: #EDEDED;
	--color-neutral-gray-4: #CBCBCB;
	--color-neutral-gray-5: #ADADAD;
	--color-neutral-gray-6: #757575;
	--color-neutral-gray-7: #717171;
	--color-neutral-gray-8: #353535;
	--color-neutral-black: #0C0C0C;

	/* Status palette */
	--color-status-success: #00966D;
	--color-status-success-light: #00BA88;
	--color-status-success-extra-light: #F3FDFA;
	--color-status-error: #C30000;
	--color-status-error-light: #ED2E2E;
	--color-status-error-extra-light: #FFF2F2;
	--color-status-warning: #A9791C;
	--color-status-warning-light: #F4B740;
	--color-status-warning-extra-light: #FFF8E1;

	/* Shadow scale derived from Figma */
	--shadow-drop-2: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
	--shadow-drop-4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	--shadow-drop-6: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
	--shadow-drop-8: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
	--shadow-drop-16: 0px 16px 16px 0px rgba(0, 0, 0, 0.25);
	--shadow-card: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0);
	--shadow-contact-card: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 24px 14px 0px rgba(0, 0, 0, 0.05), 0px 42px 17px 0px rgba(0, 0, 0, 0.01), 0px 66px 18px 0px rgba(0, 0, 0, 0);
}
