.basket_food {
  display: flex;
  position: absolute;
  top: 235px;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-24);
  padding: 0 var(--spacing-120) var(--spacing-48);
  width: 100%;
  height: 554px;
  box-sizing: border-box;
  direction: rtl;
}

.basket_food_item {
  direction: ltr;
  flex: 1;
  max-width: 704px;
  height: 100%;
  
  box-sizing: border-box;
  background: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-gray-4);
  border-radius: var(--radius-8);
  overflow-x: hidden;
  overflow-y: auto;

}

.factor {
  width: 496px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-24);
  background: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-gray-4);
  border-radius: var(--radius-8);
}
.row{
  width: 448px;
display: flex;
justify-content: space-between;
margin-bottom: 12px;
padding-bottom:12px ;
  
}


.factor_trash{
  
  width: var(--spacing-24);
  height: var(--spacing-24);
}

.factor_price{
display: flex;
flex-direction: row;
gap: 4px;
color: #717171;

}
.basket_food_item::-webkit-scrollbar {
    width: 11px; 
   
}

.basket_food_item::-webkit-scrollbar-thumb {
    background: #757575; 
    border: 1px solid #ADADAD; 
    border-radius: 3.5px; 
    min-height:  438px;
}


.basket_food_item::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 3.5px;
}