.faq-hero {
  background: #21402b url("/images/faq-image.webp") no-repeat center center /
    cover;
  text-align: center;
  color: var(--color-primary-tint-1);
  position: relative;
  height: 336px;
}

.faq-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.faq-hero .faq-container {
  padding: var(--spacing-32) 0 34px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.faq-tab-bar {
  background-color: var(--color-neutral-gray-3); /* رنگ پس‌زمینه کلی تب بار */
  border-bottom: 1px solid #e0e0e0; /* خط پایینی */
  position: relative; /* برای موقعیت‌دهی خط زیر تب */
  overflow: hidden; /* برای جلوگیری از بیرون زدن محتوا */
  margin-bottom: var(--spacing-24); /* فاصله از محتوای پایین */
}

.faq-tab-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* برای چیدمان افقی آیتم‌ها */
}

.faq-tab-item {
  margin-left: 32px;
  height: 64px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease; /* انیمیشن تغییر رنگ */
  position: relative; /* برای خط زیر تب */
  color: var(--color-neutral-gray-7);
}

.faq-tab-item a {
  text-decoration: none;
  color: inherit;
}

.faq-tab-item.active {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.8;
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  right: 0; /* این مقدار با جاوا اسکریپت تنظیم می‌شود */
  width: 128px; /* این مقدار با جاوا اسکریپت تنظیم می‌شود */
  height: 2px; /* ضخامت خط */
  background-color: var(--color-primary); /* رنگ خط (سبز تیره) */
}

.faq-accordion-container {
  background-color: var(--color-neutral-white);
  border: 1px solid #e0e0e0;
  border-radius: var(--radius-8);
  overflow: hidden;
  margin-bottom: var(--spacing-48);
}

.faq-accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.faq-accordion-item:last-child {
  border-bottom: none;
}

.faq-accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  margin: 0px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-accordion-question:hover {
  background-color: #f9f9f9;
}

.faq-accordion-icon {
  flex-shrink: 0;
  color: var(--color-neutral-gray-8);
  transition: transform 0.3s ease;
}

.faq-accordion-item:hover .faq-accordion-question .accordion-p-question {
  color: var(--color-primary);
}
.faq-accordion-item:hover .faq-accordion-question .faq-accordion-icon {
  color: var(--color-primary);
}

.faq-accordion-item.open .faq-accordion-icon {
  transform: rotate(180deg);
  color: var(--color-primary);
}

.faq-accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
}

.faq-accordion-item.open .faq-accordion-answer {
  max-height: 500px;
  padding: 0px 12px;
  margin: 1px 16px 16px 16px;
  background: var(--color-neutral-white);
}

.faq-accordion-item.open .faq-accordion-question .accordion-p-question {
  color: var(--color-primary);
}

.faq-accordion-answer p {
  color: var(--color-neutral-gray-7);
  text-align: justify;
}
