/* xxl */
.faq__hero {
  background: #21402b no-repeat center center / cover;
  text-align: center;
  color: var(--color-primary-tint-1);
  position: relative;
  height: 336px;
}

.faq__hero--alt {
  background-image: url("/images/faq-image.webp");
}

.faq__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.faq__hero .faq__container {
  padding: var(--spacing-32) 0 34px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.faq__tab-bar {
  background-color: var(--color-neutral-gray-3);
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  overflow: hidden;
  margin-bottom: var(--spacing-24);
}

.faq__tab-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.faq__tab-item {
  margin-left: 32px;
  height: 64px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  color: var(--color-neutral-gray-7);
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 400;
}

.faq__tab-item a {
  text-decoration: none;
  color: inherit;
}

.faq__tab-item.active {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.8;
}

.faq__tab-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 128px;
  height: 2px;
  background-color: var(--color-primary);
}

.faq__accordion {
  background-color: var(--color-neutral-white);
  border: 1px solid #e0e0e0;
  border-radius: var(--radius-8);
  overflow: hidden;
  margin-bottom: var(--spacing-48);
}

.faq__accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.faq__accordion-item:last-child {
  border-bottom: none;
}

.faq__accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  margin: 0px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 400;
}
.faq__accordion-icon {
  width: 32px;
  height: 32px;
}
.faq__accordion-question:hover {
  background-color: #f9f9f9;
}

.faq__accordion-icon {
  flex-shrink: 0;
  color: var(--color-neutral-gray-8);
  transition: transform 0.3s ease;
}

.faq__accordion-item:hover
  .faq__accordion-question
  .faq__accordion-question-text {
  color: var(--color-primary);
}
.faq__accordion-item:hover .faq__accordion-question .faq__accordion-icon {
  color: var(--color-primary);
}

.faq__accordion-item.open .faq__accordion-icon {
  transform: rotate(180deg);
  color: var(--color-primary);
}

.faq__accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
}

.faq__accordion-item.open .faq__accordion-answer {
  max-height: 500px;
  padding: 0px 12px;
  margin: 1px 16px 16px 16px;
  background: var(--color-neutral-white);
}

.faq__accordion-item.open
  .faq__accordion-question
  .faq__accordion-question-text {
  color: var(--color-primary);
}

.faq__accordion-answer p {
  color: var(--color-neutral-gray-7);
  text-align: justify;
}

/* md */
@media screen and (max-width: 64em) {
  .faq__hero {
    height: 300px;
  }
  .faq__tab-indicator {
    width: 118px;
    height: 1px;
  }
}

@media screen and (max-width: 48em) {
  .faq__hero {
    height: 250px;
  }
  .faq__tab-indicator {
    width: 103px;
    height: 1px;
  }
}

@media screen and (max-width: 40em) {
  .faq__hero {
    background-position: 70% 0;
    height: 176px;
  }
  .faq__tab-item {
    margin-left: 16px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
  }
  .faq__tab-item.active {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
  }
  .faq__tab-indicator {
    width: 89px;
    height: 1px;
  }
  .faq__accordion {
    border-radius: var(--radius-4);
  }
  .faq__accordion-question {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    padding: 8px 16px;
  }
  .faq__accordion-icon {
    width: 16px;
    height: 16px;
  }
  .faq__accordion-answer-text.body-md {
    font-size: 10px;
  }
  .faq__accordion-item.open .faq__accordion-answer {
    margin: 1px 16px 8px 16px;
  }
}
