/* Basic CSS reset to remove default browser styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 80em) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 80em) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 64em) {
  html {
    font-size: 59%;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
}
