*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a{
    color: inherit;
    text-decoration: inherit;
}

ul,ol{
    list-style: none;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

input{
    border: none;
    outline: none;
    font-family: inherit;
}

img{
    max-width: 100%;
    display: block;
}