@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-Thin.woff2) format("woff2"),
        url(/fonts/Estedad-FD-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-ExtraLight.woff2) format("woff2"),
        url(/fonts/Estedad-FD-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-Light.woff2) format("woff2"),
        url(/fonts/Estedad-FD-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-Regular.woff2) format("woff2"),
        url(/fonts/Estedad-FD-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-Medium.woff2) format("woff2"),
        url(/fonts/Estedad-FD-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-SemiBold.woff2) format("woff2"),
        url(/fonts/Estedad-FD-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-Bold.woff2) format("woff2"),
        url(/fonts/Estedad-FD-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-ExtraBold.woff2) format("woff2"),
        url(/fonts/Estedad-FD-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Estedad;
    src: url(/fonts/Estedad-FD-Black.woff2) format("woff2"),
        url(/fonts/Estedad-FD-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}


html {
    font-family: var(--font-family-base);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    line-height: 1.4;
}


h1 {
    font-size: 4.4rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.4rem;
}

h5{
    font-size: 2rem;
}

h6{
    font-size: 1.6rem;
}

.body-xl{
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 400;
}

.caption-lg{
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: 500;
}