.menu__list-food{
display: flex;
flex-direction: row;
padding: 17.5px 0;
gap: 8px;
}





.menu__item-food{
   
    width: auto;
height: 32px;
background: #a14949;
border-radius: 64px;
position: relative;
gap: 8px;

}
.menu__link-food{
  
    padding: 1.5px 8px 1.5px 28px;
    display: inline;
width: 74px;
height: 29px;
font-size: 16px;

color: #353535;
}


.menu_icon-food{

position: absolute;
top: 8px;
left: 8px;
fill: black;
width: 16px;
height: 16px;

}