.menu__list{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 4px;

}





.menu__item-food{

height: 32px;
background: #a14949;
border-radius: 64px;



}
.menu__link-food{
width: 74px;
height: 29px;
font-weight: 400;
font-size: 16px;
line-height: 180%;
text-align: right;
padding-right: 8px;
padding-left: 4px;

color: #353535;
}