.menu_card {
  direction: ltr;
  position: relative;
  display: flex;
  background: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-gray-4);
  border-radius: var(--radius-8);
  width: 600px;
  height: 15.8rem;

 
}
.menu_card__image {
  display: flex;

position: absolute;
width: 169px;
height: 158px;
right: 0px;
top: 0px;
border-radius: 0px 4px 4px 0px;

}
.menu_card__title {
  position: absolute;
  top: 16px;
  left: 136px;
  width: 263px;
  height: 36px;
  text-align: end;

  font-size: 20px;
  
}
.menu_card__recipe {
  position: absolute;
  font-size: 14px;
  width: 263px;
  height: 50px;
  top: 54px;
  left: 136px;
  text-align: end;
}
.menu_card__btn--increase,
.menu_card__namber,
.menu_card__btn--decrease {
width: 9px;
height: 25px;
font-size: 14px;
line-height: 180%;
text-align:center;
color: var(--color-primary);
}
.menu_card__actions {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 5.5rem;
  height: 3.2rem;
  left: 261px;
  border-radius: var(--radius-4);
  border: 1px solid var(--color-primary-tint-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-8);
  gap: var(--spacing-8);
  top: 108px;
  background: var(--color-primary-tint-1);
  border: 1px solid var(--color-primary-tint-1);
  border-radius: var(--radius-4);
  display: none;
}
.menu_card__quantity {
  width: 0.9rem;
  height: 2.5rem;
}

.tras{
position: absolute;
width: var(--spacing-24);
height: var(--spacing-24);
left: 16px;
top: 14px;
}




.discount_cntinr{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: var(--spacing-8);

  position: absolute;
  width: 103px;
  height: 29px;
  left: 16px;
  top:45px;



}
.menu_card__price-value{

width: 53px;
height: 29px;
font-style: normal;
font-size: 16px;
line-height: 180%;

text-align: right;
text-decoration-line: line-through;
text-transform: capitalize;


  color: var(--color-neutral-gray-5);



flex: none;
order: 1;
flex-grow: 0;

}


.menu_card__price-quantity{
width: var(--spacing-32);
height: 19px;
background: var(--color-status-error-extra-light);
border-radius: var(--radius-8);
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
text-align: center;
color: var(--color-status-error);


}
.mony{
display: flex;
flex-direction: row;
align-items: center;

width: 109px;
height: 36px;

font-size: 20px;
color: var(--color-neutral-gray-8);
gap: var(--spacing-8);

position: absolute;
width: 109px;
height: 36px;
left:16px;
top: 74px;



}
        
