.shopping-cart {
  position: relative;
  display: flex;
  background: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-gray-4);
  border-radius: var(--radius-8);
  width: 65.6rem;
  height: 15.8rem;
  align-self: center;
  justify-self: center;
  top: 50%;
}
.shopping-cart__image {
  display: flex;
  position: absolute;
  width: 16.9rem;
  height: 15.8rem;
  left: 48.7rem;
}
.shopping-cart__title {
  position: absolute;
  top: 16px;
  left: 192px;
  width: 263px;
  height: 36px;
  text-align: end;

  font-size: 20px;
}
.shopping-cart__recipe {
  position: absolute;
  font-size: 14px;
  width: 295px;
  height: 50px;
  top: 54px;
  left: 160px;
  text-align: end;
}
.shopping-cart__btn--increase,
.shopping-cart__namber,
.shopping-cart__btn--decrease {
width: 9px;
height: 25px;
font-size: 14px;
line-height: 180%;
text-align:center;
color: var(--color-primary);
}
.shopping-cart__actions {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 5.5rem;
  height: 3.2rem;
  left: 261px;
  border-radius: var(--radius-4);
  border: 1px solid var(--color-primary-tint-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-8);
  gap: var(--spacing-8);
  top: 108px;
  background: var(--color-primary-tint-1);
  border: 1px solid var(--color-primary-tint-1);
  border-radius: var(--radius-4);
}
.shopping-cart__quantity {
  width: 0.9rem;
  height: 2.5rem;
}

.tras{
position: absolute;
width: var(--spacing-24);
height: var(--spacing-24);
left: 32px;
top: 22px;
}




.discount_cntinr{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: var(--spacing-8);

  position: absolute;
  width: 103px;
  height: 29px;
  left: 32px;
  top: 73px;



}
.shopping-cart__price-value{

width: 53px;
height: 29px;
font-style: normal;
font-size: 16px;
line-height: 180%;

text-align: right;
text-decoration-line: line-through;
text-transform: capitalize;


  color: var(--color-neutral-gray-5);



flex: none;
order: 1;
flex-grow: 0;

}


.shopping-cart__price-quantity{
width: var(--spacing-32);
height: 19px;
background: var(--color-status-error-extra-light);
border-radius: var(--radius-8);
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
text-align: center;
color: var(--color-status-error);


}
.mony{
display: flex;
flex-direction: row;
align-items: center;

width: 109px;
height: 36px;

font-size: 20px;
color: var(--color-neutral-gray-8);
gap: var(--spacing-8);

position: absolute;
width: 109px;
height: 36px;
left: 32px;
top: 106px;



}
        