.shopping-cart {
  position: relative;
  display: flex;
background: #FFFFFF;
border: 1px solid #CBCBCB;
border-radius: 8px;
  width: 65.6rem;
  height: 15.8rem;
  align-self: center;
  justify-self: center;
  top: 50%;
}
.shopping-cart__image {
  display: flex;
  position: absolute;
  width: 16.9rem;
  height: 15.8rem;
  left: 48.7rem;
}
.shopping-cart__title {
  position: absolute;
  top: 16px;
  left: 192px;
  width: 263px;
  height: 36px;
  text-align: end;

  font-size: 20px;
}
.shopping-cart__recipe {
  position: absolute;
  font-size: 14px;
  width: 295px;
  height: 50px;
  top: 54px;
  left: 160px;
  text-align: end;
}
.shopping-cart__btn--increase,
.shopping-cart__namber,
.shopping-cart__btn--decrease {
width: 9px;
height: 25px;
font-size: 14px;
line-height: 180%;
text-align:center;
color: #417F56;
}
.shopping-cart__actions {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 5.5rem;
  height: 3.2rem;
  left: 261px;
  border-radius: 4px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  gap: 8px;
  top: 108px;
  background: #e5f2e9;
  border: 1px solid #e5f2e9;
  border-radius: 4px;
}
.shopping-cart__quantity {
  width: 0.9rem;
  height: 2.5rem;
}

.tras{
position: absolute;
width: 24px;
height: 24px;
left: 32px;
top: 22px;
}

/* Style=Normal */

