.branch{
    border-radius: var(--radius-8);
    background-color: var(--color-neutral-white);
    border: 1px solid var(--color-neutral-gray-4);
    padding-bottom: var(--spacing-16);
}

.branch__image{
    width: 100%;
    height: 230px;
    border-radius:var(--radius-8) var(--radius-8) 0 0;
}

.branch__image img{
    width: 100%;
}

.branch__info{
    padding: var(--spacing-8);
}

.branch__name{
    display: block;
    text-align: center;
    margin-top: var(--spacing-8);
    font-size: 2rem;
    line-height: 1.8;
    color: var(--color-neutral-gray-8);
}

.branch__address{
    text-align: center;
    color: var(--color-neutral-gray-7);
    margin-top: 4px;
    font-style: normal;
}