.btn {
  border: 1px solid transparent;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 4px;
  padding: 0 var(--spacing-8);
  height: 32px;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: var(--radius-4);
}

.btn--fill-primary {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
}

.btn--stroke-primary {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn--empty-primary {
  background-color: transparent;
  color: var(--color-primary);
  border-color: transparent;
}

.btn--fill-white {
  background-color: var(--color-primary-tint-1);
  color: var(--color-primary);
}

.btn--stroke-white {
  background-color: transparent;
  color: var(--color-neutral-white);
  border-color: var(--color-neutral-white);
}
.btn--empty-white {
  background-color: transparent;
  color: var(--color-neutral-white);
  border-color: transparent;
}

.btn--fill-black {
  background-color: var(--color-neutral-gray-7);
  color: var(--color-neutral-white);
}
.btn--stroke-black {
  background-color: transparent;
  color: var(--color-neutral-gray-7);
  border-color: var(--color-neutral-gray-7);
}
.btn--empty-black {
  background-color: transparent;
  color: var(--color-neutral-gray-7);
  border-color: transparent;
}

.btn--size-40,
.btn--size-48,
.btn--size-56 {
  gap: var(--spacing-8);
  padding: 0 var(--spacing-16);
  font-size: 1.6rem;
}

.btn--size-40 {
  height: 40px;
}

.btn--size-48 {
  height: 48px;
}

.btn--size-56 {
  height: 56px;
}
