.btn,
.btn:link,
.btn:visited {
  border: 1px solid transparent;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 4px;
  padding: 0 var(--spacing-8);
  height: 32px;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: var(--radius-4);
  transition: all 0.3s linear;
}

.btn--fill-primary {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
}

.btn--fill-primary:link,
.btn--fill-primary:visited {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
}

.btn--fill-primary:hover,
.btn--fill-primary:focus {
  background-color: var(--color-primary-shade-2);
  color: var(--color-neutral-white);
}

.btn--fill-primary:active {
  background-color: var(--color-primary-shade-3);
  color: var(--color-neutral-white);
}

.btn--stroke-primary {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn--stroke-primary:link,
.btn--stroke-primary:visited {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn--stroke-primary:hover,
.btn--stroke-primary:focus {
  background-color: transparent;
  color: var(--color-primary-shade-2);
  border-color: var(--color-primary-shade-2);
}

.btn--stroke-primary:active {
  background-color: transparent;
  color: var(--color-primary-shade-3);
  border-color: var(--color-primary-shade-3);
}

.btn--empty-primary {
  background-color: transparent;
  color: var(--color-primary);
  border-color: transparent;
}

.btn--empty-primary:link,
.btn--empty-primary:visited {
  color: var(--color-primary);
}

.btn--empty-primary:hover,
.btn--empty-primary:focus {
  background-color: transparent;
  color: var(--color-primary-shade-2);
}

.btn--empty-primary:active {
  background-color: transparent;
  color: var(--color-primary-shade-3);
}

.btn--fill-white {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
}

.btn--fill-white:link,
.btn--fill-white:visited {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
}

.btn--fill-white:hover,
.btn--fill-white:focus {
  background-color: var(--color-neutral-gray-1);
  color: var(--color-primary);
}

.btn--fill-white:active {
  background-color: var(--color-neutral-gray-3);
  color: var(--color-primary);
}

.btn--stroke-white {
  background-color: transparent;
  color: var(--color-neutral-white);
  border-color: var(--color-neutral-white);
}

.btn--stroke-white:link,
.btn--stroke-white:visited {
  color: var(--color-neutral-white);
  border-color: var(--color-neutral-white);
}

.btn--stroke-white:hover,
.btn--stroke-white:focus {
  color: var(--color-neutral-gray-1);
  border-color: var(--color-neutral-gray-1);
}

.btn--stroke-white:active {
  color: var(--color-neutral-gray-3);
  border-color: var(--color-neutral-gray-3);
}

.btn--empty-white {
  background-color: transparent;
  color: var(--color-neutral-white);
  border-color: transparent;
}

.btn--empty-white:link,
.btn--empty-white:visited {
  color: var(--color-neutral-white);
}

.btn--empty-white:hover,
.btn--empty-white:focus {
  color: var(--color-neutral-gray-1);
}

.btn--empty-white:active {
  color: var(--color-neutral-gray-3);
}

.btn--fill-black {
  background-color: var(--color-neutral-gray-7);
  color: var(--color-neutral-white);
}

.btn--fill-black:link,
.btn--fill-black:visited {
  background-color: var(--color-neutral-gray-7);
  color: var(--color-neutral-white);
}

.btn--fill-black:hover,
.btn--fill-black:focus {
  background-color: var(--color-neutral-gray-8);
  color: var(--color-neutral-white);
}

.btn--fill-black:active {
  background-color: var(--color-neutral-black);
  color: var(--color-neutral-white);
}

.btn--stroke-black {
  background-color: transparent;
  color: var(--color-neutral-gray-7);
  border-color: var(--color-neutral-gray-7);
}

.btn--stroke-black:link,
.btn--stroke-black:visited {
  color: var(--color-neutral-gray-7);
  border-color: var(--color-neutral-gray-7);
}

.btn--stroke-black:hover,
.btn--stroke-black:focus {
  color: var(--color-neutral-gray-8);
  border-color: var(--color-neutral-gray-8);
}

.btn--stroke-black:active {
  color: var(--color-neutral-black);
  border-color: var(--color-neutral-black);
}

.btn--empty-black {
  background-color: transparent;
  color: var(--color-neutral-gray-7);
  border-color: transparent;
}

.btn--empty-black:link,
.btn--empty-black:visited {
  color: var(--color-neutral-gray-7);
}

.btn--empty-black:hover,
.btn--empty-black:focus {
  color: var(--color-neutral-gray-8);
}

.btn--empty-black:active {
  color: var(--color-neutral-black);
}

.btn--size-40,
.btn--size-48,
.btn--size-56 {
  gap: var(--spacing-8);
  padding: 0 var(--spacing-16);
  font-size: 1.6rem;
}

.btn--size-40 {
  height: 40px;
}

.btn--size-48 {
  height: 48px;
}

.btn--size-56 {
  height: 56px;
}
