.input {
  height: 32px;
  border: 1px solid var(--color-neutral-gray-7);
  border-radius: 4px;
  padding-inline-start: 16px;
}

@supports not (padding-inline-start: 16px) {
  html[dir="rtl"] .input {
    padding-right: 16px;
  }

  .input {
    padding-left: 16px;
  }
}

.input-size-40 {
  height: 40px;
}

.input-size-48 {
  height: 48px;
}

.input-size-56 {
  height: 56px;
}

.input-error {
  border-color: var(--color-status-error);
  color: var(--color-status-error);
}

.input-error::placeholder {
  color: var(--color-status-error);
}

.input-inactive {
  border-color: var(--color-neutral-gray-7);
  color: var(--color-neutral-gray-1);
}

.input-inactive::placeholder {
  color: var(--color-neutral-gray-1);
}
