.input {
  width: 100%;
  height: 32px;
  border: 1px solid var(--color-neutral-gray-7);
  border-radius: var(--radius-4);
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  color: var(--color-neutral-gray-8);
  font-family: inherit;
  outline: none;
  transition: all 0.2s ease-in-out;
}

@supports not (padding-inline-start: 16px) {
  html[dir="rtl"] .input {
    padding-right: 16px;
  }

  .input {
    padding-left: 16px;
  }
}

/* Sizes */
.input-size-32 {
  height: 32px;
}

.input-size-40 {
  height: 40px;
}

.input-size-48 {
  height: 48px;
}

.input-size-56 {
  height: 56px;
}

/* Hover */
.input:hover:not(:disabled):not(.input-disabled):not(.input-error) {
  border-color: var(--color-neutral-gray-3);
}

/* Focus */
.input:focus:not(:disabled):not(.input-disabled):not(.input-error) {
  border-color: var(--color-primary);
}

/* Activated / Active */
.input:active:not(:disabled):not(.input-disabled):not(.input-error),
.input-active {
  border-color: var(--color-primary);
}

/* Error */
.input-error {
  border-color: var(--color-status-error);
  color: var(--color-status-error);
}

.input-error::placeholder {
  color: var(--color-status-error);
}

.input-error:focus {
  border-color: var(--color-status-error);
}

/* Disabled / Inactive */
.input:disabled,
.input-disabled,
.input-inactive {
  border-color: var(--color-neutral-gray-4);
  color: var(--color-neutral-gray-4);
}

.input:disabled::placeholder,
.input-disabled::placeholder,
.input-inactive::placeholder {
  color: var(--color-neutral-gray-4);
}

/* Dark Mode */
.dark-mode .input {
  background-color: var(--color-neutral-gray-8);
  border-color: var(--color-neutral-gray-4);
  color: var(--color-neutral-white);
}

.dark-mode .input:hover:not(:disabled):not(.input-disabled):not(.input-error) {
  border-color: var(--color-neutral-white);
}

.dark-mode .input:focus:not(:disabled):not(.input-disabled):not(.input-error) {
  border-color: var(--color-primary);
}

.dark-mode .input:active:not(:disabled):not(.input-disabled):not(.input-error),
.dark-mode .input-active {
  border-color: var(--color-primary);
}

.dark-mode .input-error {
  border-color: var(--color-status-error);
  color: var(--color-status-error);
}

.dark-mode .input:disabled,
.dark-mode .input-disabled,
.dark-mode .input-inactive {
  border-color: var(--color-neutral-gray-6);
  color: var(--color-neutral-gray-6);
  background-color: var(--color-neutral-gray-8);
}

.dark-mode .input:disabled::placeholder,
.dark-mode .input-disabled::placeholder,
.dark-mode .input-inactive::placeholder {
  color: var(--color-neutral-gray-6);
}
