.modal__backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(6px);
}

@supports not (backdrop-filter: blur()) {
  .modal__backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.modal {
  background-color: var(--color-neutral-white);
  width: 600px;
  height: 254px;
  border-radius: var(--radius-8);
  transition: all 0.3s ease-in-out 300ms;
  opacity: 0;
}

.modal__header {
  width: 100%;
  height: 84px;
  background-color: var(--color-neutral-gray-3);
  border-radius: var(--radius-8) var(--radius-8) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-neutral-gray-8);
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__body {
  padding: var(--spacing-40);
}

.modal__description {
  color: var(--color-neutral-gray-8);
  text-align: center;
}

.modal__form {
  width: 410px;
  margin: 12px auto 0;
}

.modal__input-group {
  width: 100%;
  display: block;
  position: relative;
}

.modal__input {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  color: var(--color-neutral-gray-8) !important;
}

.modal__search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
