.slider {
  width: 100%;
  height: 336px;
}

.slider__title {
  color: var(--color-primary-tint-1);
  text-align: center;
}

.silder__link {
  padding: 0 var(--spacing-32);
  margin: var(--spacing-40) auto 0;
}

.slider__icon {
  width: var(--spacing-32) !important;
  height: var(--spacing-32) !important;
  fill: var(--color-neutral-white) !important;
}

@media screen and (max-width: 48em) {
  .slider {
    height: 300px;
  }
}

@media screen and (max-width: 40em) {
  .slider {
    height: 176px;
  }
  .silder__link {
    margin: 18px auto 0;
    padding: 0 var(--spacing-8);
    height: 24px !important;
    font-size: 2.5rem !important;
  }
}
