.slider {
  width: 100%;
  height: 336px;
}

.slider__title {
  color: var(--color-primary-tint-1);
  text-align: center;
}

.silder__link {
  padding: 0 32px;
  margin: 40px auto 0;
}


.slider__icon{
  width: 32px !important;
  height: 32px !important;
  fill: var(--color-neutral-white) !important;
}