.menu{
    padding: 48px 0 72px;
}

.menu__title{
    text-align: center;
}

.menu__list{
    margin-top: 152px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.menu__item{
    flex: 1;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: var(--shadow-card);
    border-radius: var(--radius-8);
    height: 160px;
}