.menu {
  padding: 48px 0 72px;
  background-color: deeppink;
}

.menu__title {
  text-align: center;
}

.menu__list {
  margin-top: 152px;
  display: flex;
  justify-content: center;
}

.menu__item {
  flex: 1;
  height: 160px;
  transition: all 300ms ease;
  padding: 0 12px;
}

.menu__container {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-8);
}

.menu__item:hover {
  opacity: 1;
}

.menu__list:hover .menu__item:not(:hover) {
  opacity: 0.8;
}

.menu__item:first-of-type {
  padding-inline-start: 0;
}

.menu__item:last-of-type {
  padding-inline-end: 0;
}

@supports not (padding-inline-start: 0) {
  html[dir="rtl"] .menu__item:first-of-type {
    padding-right: 0;
  }

  html[dir="rtl"] .menu__item:last-of-type {
    padding-left: 0;
  }

  .menu__item:first-of-type {
    padding-left: 0;
  }

  .menu__item:last-of-type {
    padding-right: 0;
  }
}
