.branches {
  padding: var(--spacing-48) 0;
}

.branches__title {
  color: var(--color-neutral-gray-8);
  text-align: center;
}
.branches__list {
  display: flex;
  margin-top: var(--spacing-24);
  gap: var(--spacing-24);
}
.menu {
  padding: 48px 0 72px;
}

.menu__title {
  text-align: center;
}

.menu__list {
  margin-top: 152px;
  display: flex;
  justify-content: center;
}

.menu__item {
  flex: 1;
  height: 160px;
  transition: all 300ms ease;
  padding: 0 12px;
}

.menu__container {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-8);
  height: 100%;
  position: relative;
}
.menu__item-image {
  width: 240px;
  position: absolute;
  bottom: 40px;
  left: calc(50% - (240px / 2));
}

.menu__item-link.btn {
  width: 156px;
  position: absolute;
  bottom: -24px;
  left: calc(50% - (156px / 2));
  background-color: var(--color-neutral-gray-1);
  color: var(--color-neutral-gray-8);
  box-shadow: var(--shadow-card);
}
.menu__item:hover {
  opacity: 1;
}

.menu__list:hover .menu__item:not(:hover) {
  opacity: 0.8;
}

.menu__item:first-of-type {
  padding-inline-start: 0;
}

.menu__item:last-of-type {
  padding-inline-end: 0;
}

@supports not (padding-inline-start: 0) {
  html[dir="rtl"] .menu__item:first-of-type {
    padding-right: 0;
  }

  html[dir="rtl"] .menu__item:last-of-type {
    padding-left: 0;
  }

  .menu__item:first-of-type {
    padding-left: 0;
  }

  .menu__item:last-of-type {
    padding-right: 0;
  }
}

.about {
  background: #464031 url("/images/about.jpg") no-repeat top center / cover;
  padding: var(--spacing-48) 0;
  color: var(--color-neutral-white);
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
}

.about .container {
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  gap: 232px;
}

.about__content {
  flex: 3;
}

.about__description {
  text-align: justify;
  margin-top: var(--spacing-24);
}

.about__link {
  margin-top: var(--spacing-16);
  display: flex;
  width: fit-content;
  margin-inline-start: auto;
}

@supports not (margin-inline-start: auto) {
  html .about__link {
    margin-left: auto;
  }
  html[dir="rtl"] .about__link {
    margin-right: auto;
  }
}

.about__icon {
  width: 24px;
  height: 24px;
}

.about__features {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.about__features-row {
  height: 136px;
  display: flex;
  gap: var(--spacing-24);
}
.about__feature {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-16);
}

.about__feaure__icon {
  width: 48px;
  height: 48px;
  fill: white;
}
