.food_item_link {
  position: relative;
  display: grid;
  grid-template-rows:auto; 
  grid-template-columns:  repeat(2, 1fr);       
  width: 1224px;
  height: 1068px;
  gap: 24px;                        
  padding: 0;
  align-items: center;               
  justify-items: center;       
  padding: 0 calc(50% - 42.5%);     
}


.food-type__container{

right: 0px;
background: #EDEDED;
width: 100%;
height:64px;
padding: 0 calc(50% - 40.5%);
display: flex;
flex-direction: row;
}


.food-type__list{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

gap: 32px;
}
.food-type__item{
    width: auto;
height: 32px;

}
.food-type__link{
font-size: 20px;
padding: 0px;
}



