

.food-type__container{

right: 0px;
background: #EDEDED;
width: 100%;
height:64px;
padding: 0 calc(50% - 40.5%);
display: flex;
}


.food-type__list{

display: flex;
justify-content: center;
align-items: center;

gap: 32px;
}
.food-type__item{
    width: auto;
height: 32px;

}
.food-type__link{
font-size: 20px;
padding: 0px;
}



.food_item_link {
  position: relative;
  display: grid;

  grid-template-columns:  repeat(2,1fr);
 margin: 48px auto;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 1224px;

}
